/*Styles Footer*/
html{
  height: 100vh;
}
#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#foot{
  background-color: rgba(0,0,0, 0.45) !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
  height: 50px; 
  width: 64px; 
  transition: all 0.3s !important;
}
a:hover{
  transform: scale(1.4);
}
